@import "tailwindcss";

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@theme {
  --color-primary: #7551FF;
  --color-secondary: #F97912;
  --color-border: rgba(255,255,255,0.12);
  --color-sidebar: #141515;
  --color-bg: #0E0F0F;
	
	--font-poppins: "Poppins", sans-serif;
  --font-dm: "DM Sans", sans-serif;

	--shadow-3xl: 14px 17px 40px 4px rgba(0,0,0,0.25);

	--spacing-layout: 1.4rem;
  --spacing-big-layout: 2.3rem;

	--text-xs: 0.9rem;
  --text-sm: 1.07rem;
  --text-base: 1.18rem;
  --text-lg: 1.24rem;
  --text-xl: 1.38rem;

	--background-image-home-button:
    linear-gradient(112.83deg, rgba(255,255,255,0.52) 0%, rgba(255,255,255,0) 110.84%);
}

body {
	@apply text-base overflow-hidden;
	font-family: var(--font-zen), sans-serif;
	color: rgb(var(--foreground-rgb));
	background-color: #0e0f0f;

	@media (max-width: 1200px) {
		font-size: 16px;
	}

	@media (max-width: 992px) {
		font-size: 14px;
	}
}

input.defaultCheckbox {
	color: white;
}

input.defaultCheckbox::before {
	content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66662 10.115L12.7946 3.98633L13.7379 4.92899L6.66662 12.0003L2.42395 7.75766L3.36662 6.81499L6.66662 10.115Z' fill='white'/%3E%3C/svg%3E%0A");
	fill: currentColor;
	opacity: 0;
	height: 16px;
	width: 16px;
	top: -2px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0px);
}

input:checked.defaultCheckbox::before {
	opacity: 1;
}

.slide {
	animation: slide_anim 0.5s;
}

@keyframes slide_anim {
	from {
		transform: translateX(50px);
		opacity: 0.4;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.animation-opacity {
	animation: opacity_anim 0.5s;
}

@keyframes opacity_anim {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
